/* cell 자체를 정렬하는 방법*/

.father {
  display: grid;
  gap: 10px;
  min-height: 100vh;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(2, 100px);
  background-color: lightblue;

  /* 
  - grid-template에서 정의한 Grid-Container 바깥의 extra area가 남아있어야 적용됨
    => grid-template을 repeat(5, ifr) 등으로 정의한 경우에는 extra area가 없기 때문에 아래 코드는 적용❌
  */
  align-content: center;
  justify-content: center;
  place-content: center center;  /* 'align-content' & 'justify-content'의 short-cut */
}

.child {
  background-color: navy;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}