.father {
  display: flex;
  height: 100vh;
  flex-flow: row;
  justify-content: center;
}

.box {
  height: 200px;
  color: white;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:first-child {
  background-color: navy;

  /*
    flex-basis: 초기 size, 'main axis'를 따름!
      => 같은 flex-glow를 가진 다른 자식요소와 확장 크기가 다름
      => flex-shrink: 0; -> 'min-width / max-width'와 비슷한 기능    
      => flex-grow: 0;   -> 'max-width / max-height'와 비슷한 기능
  */
  flex-grow: 0;
  flex-shrink: 3;
  flex-basis: 500px;  /* 해당 요소가 초기 500px부터 커짐 */

  /* flex: 'flex-grow' & 'flex-shrink' & 'flex-basis'의 short-cut */
  flex: 0 3 500px;
}

.box:nth-child(2) { 
  background-color: teal;
  flex-grow: 1;
}
