@import './reset.css';
@import './styles.css';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  height: 100vh;
  background-color: #7d4aa9;
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: "Jost", sans-serif;
}

.container {
  background-color: black;
  min-width: 880px;
  max-width: 80%;
  height: 90%;
  min-height: 720px;
  padding: 25px;
  box-sizing: border-box;
}
.container .grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 5px;
  height: 100%;
}
.container .grid .grid_col > * {
  background-color: white;
  border-radius: 10px;
}
.container .grid .grid_col:first-child {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2.3fr 1fr;
}
.container .grid .grid_col:first-child .header {
  grid-column: span 2;
  padding: 30px 40px;
  display: grid;
  grid-template-rows: 0.1fr 2fr 0.6fr;
  align-items: start;
}
.container .grid .grid_col:first-child .header .header_top {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.container .grid .grid_col:first-child .header .header_top .header_reviews {
  font-size: 24px;
}
.container .grid .grid_col:first-child .header .header_top .header_label {
  border-radius: 15px;
  background-color: #ffc830;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding: 5px 20px;
}
.container .grid .grid_col:first-child .header .header_title {
  font-size: 98px;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  text-transform: uppercase;
}
.container .grid .grid_col:first-child .header .header_subtitle {
  font-size: 34px;
  font-weight: 500;
  border-top: 2px solid black;
  padding-top: 10px;
}
.container .grid .grid_col:last-child {
  display: grid;
  gap: 5px;
  grid-template-rows: 2.3fr 1fr;
}
.container .grid .grid_col:last-child .subgrid {
  background-color: black;
  display: grid;
  gap: 5px;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1.3fr 1fr;
}
.container .grid .grid_col:last-child .subgrid > * {
  background-color: black;
  border-radius: 10px;
}
.container .grid .grid_col:last-child .subgrid .nav {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  text-transform: uppercase;
}
.container .grid .grid_col:last-child .subgrid .nav li {
  margin-bottom: 30px;
  font-size: 14px;
}
.container .grid .grid_col:last-child .subgrid .nav .nav_cta {
  font-size: 20px;
  font-weight: 500;
}
.container .grid .grid_col:last-child .subgrid .grid_cells {
  display: grid;
  gap: 5px;
  grid-template-rows: 1fr 1fr 2fr;
}
.container .grid .grid_col:last-child .subgrid .grid_cells .grid_cell {
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.container .grid .grid_col:last-child .subgrid .grid_cells .grid_cell:first-child {
  background-color: #ffc830;
}
.container .grid .grid_col:last-child .subgrid .grid_cells .grid_cell:nth-child(2) {
  background-color: white;
  transform: rotateZ(10deg);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
}
.container .grid .grid_col:last-child .subgrid .grid_cells .grid_cell-cta {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 20px;
  align-self: flex-end;
}
.container .grid .grid_col:last-child .blog-post {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
}
.container .grid .grid_col:last-child .blog-post .blog_top {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 50px) 1fr;
  gap: 20px;
}
.container .grid .grid_col:last-child .blog-post .blog_top .blog_icon {
  display: inline-block;
  width: 60px;
  height: 80px;
  border-radius: 30px;
  border: 1px solid black;
  text-align: center;
  padding: 33px 0;
}
.container .grid .grid_col:last-child .blog-post .blog_top .blog_img {
  border-radius: 30px;
  width: 60px;
  background-image: url("https://i.pinimg.com/736x/8c/4a/51/8c4a51e005629a084505649079b0a949.jpg");
  background-size: cover;
}
.container .grid .grid_col:last-child .blog-post .blog_top .blog_label {
  justify-self: end;
  text-transform: uppercase;
  font-weight: bold;
  text-align: end;
  line-height: 18px;
}
.container .grid .grid_col:last-child .blog-post p {
  width: 80%;
  padding: 20px;
}
.container .grid .grid_col .grid_img {
  background-image: url("https://i.pinimg.com/564x/6a/fc/5c/6afc5c43a5050054d7482202e3b75239.jpg");
  background-size: cover;
}