@import './reset.scss';
@import './styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$grey: #bcbfbf;
$brown: #1f1414;
$border: 5px solid $brown;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba($color: $grey, $alpha: 0.4);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.phone {
  width: 480px;
  height: 90%;
  border-radius: 10px;
  background-color: #c6caca;
  box-shadow: 5px 10px 10px 5px rgba($color: #000000, $alpha: 0.5);
	overflow: hidden;
	padding: 50px 0 40px;
}

.header {
  padding: 0px 15px 20px;
	font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header_title {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.total {
  background-color: $brown;
  padding: 30px 15px;
  color: #DEE2E2;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  .total_price {
    font-size: 32px;
  }
  .total_subtitle {
    font-size: 16px;
  }
}

.items {
	display: flex;
	flex-direction: column;
	background-color: #C6CACA;
	gap: 25px;
	.item {
		background-color: #D7DBDB;
		border-top: $border;
		position: relative;
    .item_info {
      padding: 20px 15px;
      display: grid;
			grid-template-columns: repeat(2, 1fr);
      .item_info-col {
        display: flex;
        flex-direction: column;
				gap: 10px;
        &:nth-child(2) {
          align-items: end;
          .item_total-price {
            font-size: 32px;
          }
          .item_piece-price {
            font-size: 18px;
          }
        }
        .item_title {
          font-size: 44px;
          text-transform: uppercase;
          font-family: "Anton", sans-serif;
          letter-spacing: 3px;
        }
        .item_subtitle {
          font-size: 16px;
          font-family: "Anton", sans-serif;
          letter-spacing: 4px;
        }
      }
    }
		.item_specs {
			border-top: $border;
			border-bottom: $border;
			display: grid;
			grid-template-columns: repeat(auto-fill, 135px);
      font-family: "Anton", sans-serif;
      letter-spacing: 1px;
      line-height: 1.3;
			.spec {
				padding: 15px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-transform: uppercase;
				font-size: 18px;
        letter-spacing: 4px;
				&:last-child {
					border-left: $border;
				}
			}
		}
  }
	.item_photo {
		position: absolute;
		width: 40%;
		height: 70%;
		border: $border;
		right: 15px;
		bottom:  0px;
		object-fit: cover;
	}
}
