body {
  padding: 0;
  margin: 0;
}

/* @mixin 변수명($varName) { CSS 코드 } */
@mixin alert($bgColor, $borderColor) {
  background-color: $bgColor;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px dashed $borderColor;
}

/* @include 변수명(varValue) */
.success {
  @include alert(rgb(0, 128, 0), whitesmoke);
}

.warning {
  @include alert(rgb(171, 238, 70), gray);
}

.error {
  @include alert(rgb(200, 240, 140), black);
}