/* == before Nesting ==

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

ul li {
  background-color: navy;
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
  width: 70px;
  text-align: center;
}

ul li:hover {
  opacity: 0.8;
}

ul li:hover a {
  font-weight: bold;
}

ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

==================== */



/* == ✨ Nesting == */

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;

  li {
    background-color: navy;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    width: 70px;
    text-align: center;
    &:hover {
      opacity: 0.8;
      a {
        font-weight: bold;
      }
    }

    a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
    }
  }
}


/* ===== Etc... ===== */
/*

li {
  &:first-child {}
  &:last-child {}
  &.className {}
}

li:first-child {}
li:last-child {}
li.className {}

*/